
.image-preview {
    
    /* Crop the image to fit the div element */
    background-repeat: no-repeat;
    background-size: 90px auto;
    background-position: center;
    /* Set the height of the div element */
    width: 100px;
    height: 120px;
    margin: 5px;
    padding: 5px;
    background-color: #57686c;
    user-select: none;
    /* Position the text at the bottom */
    display: flex;
    align-items: end;
    justify-content: start;
    color: white;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
}
