#name-property {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#name-property span {
    color: white;
    width: 33%;
}

#name-property input {
    width: 66%;
}

#name-property input.invalid {
    outline: 2px solid red;
}