#base-properties {
    margin-top: 30px;
}

#base-properties div {
    display: flex;
    flex-direction: row;
    margin-top: 4px;
}

#base-properties div span {
    color: white;
}

#base-properties div > * {
    text-align: left;
    width: 33%;
}