.flexRow {
    display: flex;
    flex-direction: row;
    margin-top: 4px;
    justify-content: space-between;
    align-items: center;
}

.textLeft {
    text-align:left;
}

.textRight {
    text-align: right;
}

.colorWhite {
    color: white;
}

.colorGray {
    color: #98bbbd;
}

.widthFull {
    width: 100%;
}

.widthOneThird {
    width: 32%;
}

.widthTwoThird {
    width: 66%;
}

.positionRelative {
    position: relative;
}

.positionAbsolute {
    position: absolute;
}

span {
    font-size: 16px;
}

textarea, input { 
    border: none;
    border-color: transparent;
    outline: none;
    background-color: #2c393c;
    color: #bbd2d4;
    font-size: 14px;
    height: 20px;
}

select {
    border: none;
    border-color: transparent;
    outline: none;
    background-color: #2c393c;
    color: #bbd2d4;
    font-size: 14px;
    height: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

textarea::-webkit-scrollbar {
    display: none;
}

input[type=number],
input[type=text] {
    padding: 2px 25px 2px 4px;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}

.inputAfterElement::after {
    top: calc(100% / 2);
    transform: translate(0px, -50%);
    position: absolute;
    color: #bbd2d4;
    text-align: left;
    right: 4px;
    font-size: 14px;
    content: attr(data-sign);
}

.textureInput {
    width: 66%;
    resize: none;
    padding: 2px;
    font-size: 14px;
    height: 22px;
}

.textureInput.dragOver {
    background-color: rgb(243, 123, 62);
}