.node {
  margin: 0 0 0 20px;
  user-select: none;
}

.node-indicator {
  border: 2px solid transparent;
  position: relative;
}

.node-indicator:hover {
  background-color: #2c393c;
  cursor: default;
}

.node-indicator:hover > .name {
  color: #ffffff;
}

.name {
  font-size: 14px;
  color: #86adaf;
  width: 100%;
}

.toggler {
  position: absolute;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  background-color: #2c393c;
  color: #ffffff;
  left: -20px;
}
