#root-node {
  margin-left: 10px;
  user-select: none;
  cursor: pointer;
}

#root-node-indicator {
  border: 2px solid transparent;
  position: relative;
}

#root-node-indicator:hover {
  background-color: #2c393c;
  cursor: default;
}

#root-node-indicator:hover > #root-node-name {
  color: #ffffff;
}

#root-node-name {
  font-size: 14px;
  color: #86adaf;
}
