#root-node {
  margin-left: 10px;
  user-select: none;
  cursor: default;
}

#root-node-name {
  border: 2px solid transparent;
  font-size: 14px;
  color: #86adaf;
}

#root-node-name:hover {
  background-color: #2c393c;
  color: #ffffff;
}
